@media only screen and (max-width:600px) {
    .container {
        width: 50%;
    }

    .display #screen {
        width: 90%;
        height: 30px;
        font-size: 20px;
    }

    .btns .row button {
        width: 20px;
        height: 20px;
        font-size: 8px;
    }

    .btns {
        width: 100%;
        margin-top: 1.7em;
        display: flex;
        justify-content: centre;
        align-items: center;
        flex-direction: unset;
    }
}

@media only screen and (min-width:600px) {
    .container {
        width: auto;
    }

    .display #screen {
        width: 97%;
    }
}